    .fixedContactButton{
        display : none;
    }

    nav {
        /* 레이아웃에 대한 스타일(5~10줄) */
        display: flex;
        align-items: center;
    
        padding : 0px 24px;
    
        gap: 32px;
        height: 60px;
        align-self: stretch;
    }
    
    .navItem {
    }

    .badge {
        /* display: flex; */
        padding: 8px 24px;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 10px;
        border-radius: 10px;
        background: #e6eeff;
        width: fit-content;
    
        /* 텍스트 속성 */
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
    
        margin-bottom: 40px;
    }

    header{
        display: flex;
        width: 342px;
        height: auto;
        padding: 60px 24px;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .headerLinkContainer{
        display: flex;
        width: 342px;
        height: auto;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;
    }

    header h1 {
        color: #333;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 80px */
        letter-spacing: -0.64px;
        margin-bottom: 40px;
    }

    .headerLinkContainer{
        display: flex;  /* 유연하게 디스플레이 변경 */
        align-items: flex-start;
        gap: 16px;
        /* flex-direction: row; */
    }

    .headerLink1{
        box-sizing: border-box;
        display: flex;
        width: 120px;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        background: #000;
      
        color: #E6EEFF;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
        text-decoration: none;
    }

    .headerLink2{
        box-sizing: border-box;
        display: flex;
        width: 120px;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid #403930;
      
        color: #403930;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
        text-decoration: none;
    }

    .headerContainer2{
        display: none;
    }

    .page2Container{
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .b{
        background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    }

    .page2-h1{
        color: #333;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 50px */
        letter-spacing: -0.36px;
        margin : 0
    }

    .page2-p{
        word-break: keep-all;
        height: auto;
        flex-shrink: 0;
        align-self: stretch;
      
        color: #333;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        margin : 0
    }

    .flyingPerson {
        width: 40px;
        height: 40px;
        position: absolute;
        /* top: 0px; */
        bottom: 20px;
        /* right: 0px; */
        left: 90px;
    }

    .techStackContainer {
        padding: 60px 24px;
    }
      
    .techStackContainer p {
        margin-bottom: 32px;
    }

    .techStackContainer h1 {
        color: #000;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 65% */
        letter-spacing: -0.48px;
        padding-bottom: 24px;
    }

    .techStackContainer p {
        color: #333;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 130% */
    }

    .teckLogos{
        max-width: 960px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 8px;
    }

    .teckLogos img{
        width : 79.5px;
        height: 80px;
    }

    .projectContainer{
        display: flex;
        padding : 60px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex: 1 0 0;
    }

    .projectContainer h1{
        color: #403930;
        /* sectionTitle */
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 108.333% */
        letter-spacing: -0.48px;
    }

    .project1{
        box-sizing: border-box;
        display: flex;
        background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
        width : 100%;
        flex-direction: column-reverse;
        padding : 24px 16px;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
    }

    .project1_photo{
        display: flex;
        flex-direction: row;
        gap: 6px;
        width: auto;
        height: auto;
        padding: 0px 0px;
    }
      
    .project1_photo img{
        width : 100px;
        height: 202.5px;
        margin-right: 0px;
    }

    .project1_p{
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .project2{
        box-sizing: border-box;
        display: flex;
        background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
        width : 100%;
        flex-direction: column-reverse;
        padding : 24px 16px;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
    }

    .project2_photo{
        display: flex;
        flex-direction: row;
        gap: 6px;
        width: auto;
        height: auto;
        padding: 0px 0px;
    }
      
    .project2_photo img{
        width : 100px;
        height: 202.5px;
        margin-right: 0px;
    }

    .project2_p{
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }
 
    .project3{
        box-sizing: border-box;
        display: flex;
        background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
        width : 100%;
        flex-direction: column-reverse;
        padding : 24px 16px;
        align-items: center;
        gap: 16px;
        justify-content: space-between;
    }

    .project3_photo{
        display: flex;
        flex-direction: row;
        gap: 6px;
        width: auto;
        height: auto;
        padding: 0px 0px;
    }
      
    .project3_photo img{
        width : 100px;
        height: 202.5px;
        margin-right: 0px;
    }

    .project3_p{
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .link-container{
        display: flex;
        width : auto;
        flex-direction: row;
        gap : 24px;
        border-radius: 24px;
    }
    
    .link-container a{
        font-size: 20px;

    }

    .review{
        padding: 60px 24px;
    }

    .review-form{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .review-h1{
        color: #403930;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 50px */
        letter-spacing: -0.48px;
        text-align: center;
    }

    .review-container{
        display: flex;
        width: 342px;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .review1{
        display: flex;
        width: 270px;
        height: auto;
        padding: 24px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
      
        border-radius: 10px;
        background: #FAFAFA;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .review1-content{
        color: #403930;
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 30px */
    }

    .review1-member{
        color: #1866AF;
        text-align: right;
        width: 100%;
        font-family: Work Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 125% */
        margin-bottom: 0px;
    }

    .review2{
        display: flex;
        width: 270px;
        height: auto;
        padding: 24px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
      
        border-radius: 10px;
        background: #FAFAFA;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .review2-content{
        color: #403930;
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 30px */
    }

    .review3{
        display: flex;
        width: 270px;
        height: auto;
        padding: 24px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
      
        border-radius: 10px;
        background: #FAFAFA;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .review3-content{
        color: #403930;
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 30px */
    }

    .end-form{
        padding: 60px 24px;
        background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    }

    .end-form-form{
        padding: 0px 0px;
    }

    .end-h1{
        color: #403930;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 60px */
        letter-spacing: -0.48px;
    }

